.preExecuteContainer {
    margin: 0 auto;
    background-color: #fff;
    width: 80%;
    .slideInteraction{
        position: absolute;
        display:flex;
        flex-direction: row;
        z-index: 3;
        
        &__item{
           
            margin-top:10px;
            
            &--containIcon{
              position: relative;
            }
            &--icon{
                color:#49b6ff;
            }
            &--smallIcon{
                position: absolute;
                font-size:25px;
                color:#4e7df4;
                margin:0;
                padding:0;
                top:-1px;
                z-index: 3;
           
                right:5px;
                
            }
            &--help{
                top:1px;
            }
        }
    }
    .preExecuteWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            font-size: 40px;
            opacity: 0.6;
        }
        .question {
            font-size: 30px;
            font-weight: 500;
        }
        .options {
            list-style: none;
            .option{
                width: 500px;
                height: 60px;
                padding: 0 20px;
                margin-bottom: 15px;
                background-color: #fff;
                line-height: 60px;
                border: 2px solid #ccc;
                border-radius: 5px;
                cursor: pointer;
            }
            .option.active {
                border: 3px solid #356dff;
            }
        }

        .submitBtn {
            background-color: #356dff;
            color: #fff;
            margin-bottom: 50px;
            width: 200px;
        }

        .submitBtn.disable {
            background-color: #ccc;
            pointer-events: none;
        }

        .endPre {
            font-size: 40px;
            font-weight: 500;
        }
    }
}