
.groupCard__action{

    color:"#3a86ff";
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.groupCard__content{

    &--shortDescription{
        color:#343a40 !important;
        font-size: 15px !important;
        min-height:45px;
        max-height: 45px;
    }

    &--nameGroup{
        font-size: 20px !important;
        color: white;
        position: absolute;
        transform: translateY(-400%);
    }
}