.rightBodyWrapper {
    .editSlide{
        margin: 10px;
        .headerSlideForm {
            display: flex;
            flex-direction: column;
            .slideFormOptions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .slideFormBtn {
                    width: 70px;
                    height: 30px;
                    margin-top: -15px;
                }
            }
        }
    }
}