.rightBodyWrapper {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .editSlide,
    .deleteSlide{
        margin: 20px 10px 0 10px;
    }
}