.slideContainer{
    .slides {
        .slideInteraction{
            position: absolute;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 3;
            margin-left:40px;
            left:auto;
           
            
            &__item{
                margin-left: 10px;
                margin-top:10px;
                
                &--containIcon{
                  position: relative;
                }
                &--icon{
                    color:#49b6ff;
                }
                &--smallIcon{
                    position: absolute;
                    font-size:25px;
                    color:#4e7df4;
                    margin:0;
                    padding:0;
                    top:-1px;
                    z-index: 3;
               
                    right:5px;
                    
                }
                &--help{
                    top:1px;
                }
            }
        }
        .presentSlideContainer {
            .presentSlideWrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .icon{
                    font-size: 50px;
                    color: #356dff;
                    cursor: pointer;
                }
    
                .icon.unactive {
                    color: #ccc;
                    pointer-events: none;
                }

                .presentSlideContent {
                    flex: 1;
                    height: 90vh;
                }
            }
            .stopBtn {
                display: flex;
                margin: 10px auto;
                width: 200px;

            }
        }
    }
}
