.slideContainer{
    .slides {
        .presentSlideContainer {
            .presentSlideWrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .icon{
                    font-size: 50px;
                    color: #356dff;
                    cursor: pointer;
                }
    
                .icon.unactive {
                    color: #ccc;
                    pointer-events: none;
                }

                .presentSlideContent {
                    flex: 1;
                    height: 90vh;
                }
            }
            .stopBtn {
                display: flex;
                margin: 10px auto;
                width: 200px;

            }
        }
    }
}
